<p>Mountain name: <%= @mountain.name %></p>
<p>Handicap accessible? <%= @mountain.handicap_accessible %></p>
<p>Mountain id: <%= @mountain.id %></p>
<p>record created at: <%= @mountain.created_at %></p>
<p>record updated at: <%= @mountain.updated_at %></p>